<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Parser</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
</head>
<body>
    <% authorsInfo.forEach(function(author) { %>
        <div class="author">
            <h2 class="author-title"><%=author.author_name%></h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Reposts</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    <% author.articles.forEach(function(article) { %>
                        <tr>
                            <td class="article-name">
                                <%=article.article_name%>
                            </td>
                            <td class="article-reposts-count">
                                <%=article.reposts_count%>
                            </td>
                            <td class="article-publishing-year">
                                <%=article.publishing_year%>
                            </td>
                        </tr>
                    <% });%>
                </tbody>
            </table>
        </div>    
    <% });%>
</body>
</html>